$primary-color: #462681;
$secondary-color: #ffffff;
$tertiary-color: #e5e5e5;

@font-face {
    font-family: "SourceSansPro-Regular";
    src: url("assets/fonts/source-sans-pro/SourceSansPro-Regular.otf")
        format("opentype");
}

@font-face {
    font-family: "SourceSansPro-Black";
    src: url("assets/fonts/source-sans-pro/SourceSansPro-Black.otf")
        format("opentype");
}

body {
    margin: 0px;
    border: 0px;
    font-family: "SourceSansPro-Regular", sans-serif;
    color: $primary-color;
}

.card-container {
    position: relative;
    height: 667px;
    width: 375px;
    box-shadow: 0px 0px 10px $tertiary-color;

    .card-image {
        z-index: 0;
    }

    .link-back {
        text-decoration: none;
        color: $secondary-color;
        z-index: 1;
        position: absolute;
        margin-top: 15.44px;
        margin-left: 15.44px;
        display: flex;
        align-items: center;

        img {
            height: 31px;
            width: 31px;
        }

        span {
            font-family: "SourceSansPro-Regular", sans-serif;
            font-size: 18px;
            margin-left: 5px;
        }
    }
}

.card-info-container {
    position: absolute;
    height: 450px;
    bottom: 0%;
    width: 100%;
    border-radius: 40px 40px 0px 0px;
    background-color: white;

    .text-small {
        font-family: "SourceSansPro-Black", sans-serif;
        font-size: 14px;
        text-transform: uppercase;
        margin: 0px;
    }

    .btn {
        border: none;
        background-color: transparent;
        color: $primary-color;
        padding: 0px;
    }

    .btn-follow {
        display: flex;
        align-items: center;
        margin-bottom: 20px;

        img {
            margin-right: 5px;
        }
    }

    .card-info {
        position: relative;
        padding: 20px 25px 0px;

        .card-title {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            h2 {
                margin: 0px;
                font-family: "SourceSansPro-Black", sans-serif;
                font-size: 44px;
                display: inline-block;
            }
        }

        .card-stats {
            display: flex;
            justify-content: space-around;
            font-family: "SourceSansPro-Black", sans-serif;
            border-top: 1px solid $primary-color;
            border-bottom: 1px solid $primary-color;
            padding: 6px 0px 11px;

            .stat {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

            h4 {
                font-size: 24px;
                margin: 0px;
            }

            p {
                margin: 0px;
            }
        }

        h3 {
            margin-top: 20px;
        }

        .card-categories {
            display: flex;
            flex-direction: column;

            .category {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 21px 5px;
                font-family: "SourceSansPro-Regular", sans-serif;
                text-transform: capitalize;
                font-size: 25px;
                border-bottom: 1px solid $primary-color;
            }

            h4 {
                margin: 0px;
            }
        }
    }
}
